<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amlan.attendez">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ez_icon"
        android:label="Attend EZ"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SignupActivity">
        </activity>
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Reports_Detail_Activity"
            android:theme="@style/AppTheme2" />
        <activity android:name=".Reports_Activity" />
        <activity
            android:name=".ClassDetail_Activity"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".Insert_class_Activity"
            android:theme="@style/AppTheme2" />
        <activity android:name=".ClassActivity">

        </activity>
    </application>

</manifest>